header {
  width: 100%;
}

.row {
  margin: 0;
  padding: 0;
}

.logo {
  position: absolute;
  height: 20vh;
  width: 100%;
  padding: 0;
  margin-top: 50px;
  z-index: 999;
}

.logo > .row {
  height: inherit;
  width: 100%;
}

.logo > .row > .col-md-6 {
  height: inherit;
  display: flex;
  align-items: center;
  font-family: 'Kaushan Script', cursive;
}

.logo > .row > .col-md-6 .logotype {
  color: #FFFFFF;
  font-size: 15vh;
  margin-left: 10%;
  width: 100%;
}

.content > img {
  width: 100%;
  position: fixed;
}

.side-menu {
  height: 20vh;
  width: 20%;
  left: 77%;
  top: 70px;
  background-color: #fff;
  padding: 0;
  margin: 0;
  opacity: 0;
}

.side-menu .side-list {
  display: flex;
  flex-wrap: wrap;
  height: 20vh;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.side-menu .side-list > li {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  font-family: 'Kaushan Script', cursive;
}

.side-menu .side-list > li a {
  text-decoration: none;
  color: #757474;
}

.side-menu .side-list > li a:hover {
  color: #252525;
}

.photos {
  position: absolute;
}

.tz-gallery > .row {
  margin-top: 59%;
}

.sw_cher {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.sw_cher .menu-icon {
  height: 70%;
  width: 14vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sw_cher .menu-icon .sw-all {
  height: 4px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sw_cher .menu-icon .sw-all .lines {
  background-color: #D0CDCD;
  height: 4px;
  width: 20vh;
  transition: .6s;
}

.sw_cher .menu-icon .ms_lines_closed {
  height: 4px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: centers;
}

.sw_cher .menu-icon .ms_lines_closed .lines {
  background-color: #D0CDCD;
  height: 4px;
  width: 20vh;
  transition: .6s;
}

.sw_cher .menu-icon .ms_lines_closed .line-1 {
  transform: rotate(45deg);
  margin-top: 16%;
}

.sw_cher .menu-icon .ms_lines_closed .line-2 {
  opacity: 0;
}

.sw_cher .menu-icon .ms_lines_closed .line-3 {
  transform: rotate(-45deg);
  margin-top: -50%;
}
