header {
  width: 100%;
}

.row {
  margin: 0;
  padding: 0;
}

.logo {
  position: absolute;
  height: 20vh;
  width: 100%;
  padding: 0;
  margin-top: 50px;
  z-index: 999;
}

.logo > .row {
  height: inherit;
  width: 100%;
}

.logo > .row > .col-md-6 {
  height: inherit;
  display: flex;
  align-items: center;
  font-family: 'Kaushan Script', cursive;
}

.logo > .row > .col-md-6 .logotype {
  color: #FFFFFF;
  font-size: 15vh;
  margin-left: 10%;
  width: 100%;
}

.logo > .row > .col-md-6 .ms_lines_closed {
  margin-left: 80%;
  height: 40px;
  width: 40px;
  display: block;
}

.logo > .row > .col-md-6 .ms_lines_closed .sw-1, .logo > .row > .col-md-6 .ms_lines_closed .sw-2, .logo > .row > .col-md-6 .ms_lines_closed .sw-3, .logo > .row > .col-md-6 .ms_lines_closed .sw-4 {
  height: 2px;
  width: 100%;
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  transition: .6s;
}

.logo > .row > .col-md-6 .ms_lines_closed .sw-1 {
  opacity: 0;
  left: 40px;
}

.logo > .row > .col-md-6 .ms_lines_closed .sw-2 {
  width: 100%;
  transform: rotate(-45deg);
}

.logo > .row > .col-md-6 .ms_lines_closed .sw-3 {
  width: 100%;
  transform: rotate(45deg);
}

.logo > .row > .col-md-6 .ms_lines_closed .sw-4 {
  opacity: 0;
  left: -40px;
}

.logo > .row > .col-md-6 .sw-all {
  margin-left: 80%;
  height: 40px;
  width: 40px;
  display: block;
}

.logo > .row > .col-md-6 .sw-all .sw-1, .logo > .row > .col-md-6 .sw-all .sw-2, .logo > .row > .col-md-6 .sw-all .sw-3, .logo > .row > .col-md-6 .sw-all .sw-4 {
  height: 2px;
  width: 100%;
  background-color: #FFFFFF;
  padding: 0;
  margin: 0.5vh 0 0 0;
  transition: .6s;
}

.logo > .row > .col-md-6 .sw-all .sw-2 {
  width: 80%;
}

.logo > .row > .col-md-6 .sw-all .sw-3 {
  width: 70%;
}

.logo > .row > .col-md-6 .sw-all .sw-4 {
  width: 90%;
}

.content > img {
  width: 100%;
  position: fixed;
}

.side-menu {
  height: 20vh;
  width: 20%;
  left: 77%;
  top: 70px;
  background-color: #fff;
  padding: 0;
  margin: 0;
  opacity: 0;
}

.side-menu .side-list {
  display: flex;
  flex-wrap: wrap;
  height: 20vh;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.side-menu .side-list > li {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  font-family: 'Kaushan Script', cursive;
}

.side-menu .side-list > li a {
  text-decoration: none;
  color: #757474;
}

.side-menu .side-list > li a:hover {
  color: #252525;
}

.photos {
  position: absolute;
}

.tz-gallery > .row {
  margin-top: 59%;
}
