header {
  width: 100%;
}

.row {
  margin: 0;
  padding: 0;
}

.logo {
  position: absolute;
  height: 20vh;
  width: 100%;
  padding: 0;
  margin-top: 50px;
  z-index: 999;
}

.logo > .row {
  height: inherit;
  width: 100%;
}

.logo > .row > .col-md-6 {
  height: inherit;
  display: flex;
  align-items: center;
  font-family: 'Kaushan Script', cursive;
}

.logo > .row > .col-md-6 .logotype {
  color: #FFFFFF;
  font-size: 120px;
  margin-left: 10%;
  width: 100%;
}

.content > img {
  width: 100%;
  position: fixed;
}

.side-menu {
  height: 20vh;
  width: 100%;
  top: 70px;
  background-color: #fff;
  padding: 0;
  margin: 0;
  opacity: 0;
}

.side-menu .side-list {
  display: flex;
  height: 20vh;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.side-menu .side-list > li {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-right: 30px;
  font-family: 'Kaushan Script', cursive;
  border-right: #757474 2px dashed;
  align-items: center;
  height: 100%;
}

.side-menu .side-list > li a {
  text-decoration: none;
  color: #757474;
}

.side-menu .side-list > li a:hover {
  color: #252525;
}

.photos {
  position: absolute;
}

.tz-gallery > .row {
  margin-top: 59%;
}

.sw_cher {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.sw_cher .menu-icon {
  height: 50px;
  width: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sw_cher .menu-icon .sw-all {
  height: 4px;
  width: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sw_cher .menu-icon .sw-all .lines {
  background-color: #FFFFFF;
  height: 4px;
  width: 50px;
  transition: .6s;
}

.sw_cher .menu-icon .ms_lines_closed {
  height: 4px;
  width: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: centers;
}

.sw_cher .menu-icon .ms_lines_closed .lines {
  background-color: #FFFFFF;
  height: 4px;
  width: 50px;
  transition: .6s;
  position: absolute;
}

.sw_cher .menu-icon .ms_lines_closed .line-1 {
  transform: rotate(45deg);
}

.sw_cher .menu-icon .ms_lines_closed .line-1 {
  top: 15px;
}

.sw_cher .menu-icon .ms_lines_closed .line-2 {
  opacity: 0;
}

.sw_cher .menu-icon .ms_lines_closed .line-3 {
  top: 15px;
  transform: rotate(135deg);
}

.side-row {
  position: absolute;
  top: 100px;
}

body {
  min-height: 100vh;
  padding: 0;
}

.container.gallery-container {
  color: #35373a;
  min-height: 100vh;
  padding: 0;
}

.tz-gallery {
  padding: 40px;
}

.tz-gallery .row > div {
  padding: 0;
}

.tz-gallery .lightbox img {
  width: 100%;
  border-radius: 0;
  position: relative;
}

.tz-gallery .lightbox:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  opacity: 0;
  color: #fff;
  font-size: 26px;
  font-family: 'Glyphicons Halflings';
  content: '\e003';
  pointer-events: none;
  z-index: 9000;
  transition: 0.4s;
}

.tz-gallery .lightbox:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(46, 132, 206, 0.7);
  content: '';
  transition: .4s;
}

.tz-gallery .lightbox:hover:after, .tz-gallery .lightbox:hover:before {
  opacity: 1;
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .sw_cher .menu-icon .ms_lines_closed {
    width: 40px;
    height: 7px;
  }
  .sw_cher .menu-icon .ms_lines_closed .lines {
    height: 3px;
    width: 40px;
  }
  .sw_cher .menu-icon {
    height: 30px;
  }
}

@media screen and (max-width: 768px) {
  .sw_cher .menu-icon .sw-all {
    width: 40px;
    height: 7px;
  }
  .sw_cher .menu-icon .sw-all .lines {
    height: 3px;
    width: 40px;
  }
  .sw_cher .menu-icon {
    height: 30px;
    position: absolute;
    top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .logo > .row > .col-md-6 span.logotype {
    font-size: 75px;
    bottom: 45px;
    right: -17px;
    position: absolute;
  }
}