// $small: 320px;
// $large: 1024px;

// @mixin respond-to($media) {
// 	@if $media == handhelds {
// 		@media only screen and (max-width: $small) { @content; }
// 	}
// 	@else if $media == medium-screens {
// 		@media only screen and (min-width: $small + 1) and (max-width: $large - 1) { @content; }
// 	}
// 	@else if $media == wide-screens {
// 		@media only screen and (min-width: $large) { @content; }
// 	}
// }

// .logotype {
// 	float: left;
// 	width: 150px;
// 	@include respond-to(handhelds) { width: 100% ;}
// 	@include respond-to(medium-screens) { width: 125px; }
// 	@include respond-to(wide-screens) { float: none; }
// }​

$l_grey: #EFECEC
$d_grey: #D0CDCD
$white: #FFFFFF
$dd_grey: #757474
$ddd_grey: #252525
header
	width: 100%
.row
	margin: 0
	padding: 0
.logo
	position: absolute
	height: 20vh
	width: 100%
	padding: 0
	margin-top: 50px
	z-index: 999
	&>.row
		height: inherit
		width: 100%
		&>.col-md-6
			height: inherit
			display: flex
			align-items: center
			font-family: 'Kaushan Script', cursive
			.logotype
				color: $white
				font-size: 120px
				margin-left: 10%
				width: 100%
.content>img
	width: 100%
	position: fixed
.side-menu
	height: 20vh
	width: 100%
	top: 70px
	background-color: #fff
	padding: 0
	margin: 0
	opacity: 0
	.side-list
		display: flex
		height: 20vh
		text-decoration: none
		list-style-type: none
		margin: 0
		padding: 0
		align-items: center
		&>li
			width: 100%
			display: flex
			justify-content: center
			padding-right: 30px
			font-family: 'Kaushan Script', cursive
			border-right: $dd_grey 2px dashed
			align-items: center
			height: 100%
			a
				text-decoration: none
				color: $dd_grey
				&:hover
					color: $ddd_grey
.photos
	position: absolute
.tz-gallery>.row
	margin-top: 59%
.sw_cher
	height: 100%
	width: 100%
	display: flex
	justify-content: flex-end
	.menu-icon
		height: 50px
		width: 50px
		display: flex
		flex-wrap: wrap
		align-items: center
		.sw-all
			height: 4px
			width: 50px
			display: flex
			flex-wrap: wrap
			align-items: center
			.lines
				background-color: $white
				height: 4px
				width: 50px
				transition: .6s
		.ms_lines_closed
			height: 4px
			width: 50px
			display: flex
			flex-wrap: wrap
			align-items: centers
			.lines
				background-color: $white
				height: 4px
				width: 50px
				transition: .6s
				position: absolute
			.line-1
				transform: rotate(45deg)
			.line-1
				top: 15px
			.line-2
				opacity: 0
			.line-3
				top: 15px
				transform: rotate(135deg)
.side-row
	position: absolute
	top: 100px

