$l_grey: #EFECEC
$d_grey: #D0CDCD
$white: #FFFFFF
$dd_grey: #757474
$ddd_grey: #252525
header
	width: 100%
.row
	margin: 0
	padding: 0
.logo
	position: absolute
	height: 20vh
	width: 100%
	padding: 0
	margin-top: 50px
	z-index: 999
	&>.row
		height: inherit
		width: 100%
		&>.col-md-6
			height: inherit
			display: flex
			align-items: center
			font-family: 'Kaushan Script', cursive
			.logotype
				color: $white
				font-size: 15vh
				margin-left: 10%
				width: 100%
			// .ms_lines_closed
			// 	margin-left: 80%
			// 	width: 50px 
			// 	height: 50px
			// 	position: absolute
			// 	right: 10px
			// 	top: 0
			// 	display: flex
			// 	align-items: center
			// 	justify-content: center
			// 	.sw-1,.sw-2,.sw-3,.sw-4
			// 		height: 2px
			// 		width: 100%
			// 		background-color: $white
			// 		transition: .6s
			// 		position: absolute
			// 	.sw-2
			// 		opacity: 0
			// 	.sw-3
			// 		top: 22px
			// 		transform: rotate(-45deg)
			// 	.sw-1 
			// 		top: 12px
			// 		transform: rotate(45deg)
			// .sw-all
			// 	// margin-left: 80%
			// 	// height: 25px
			// 	// width: 33px
			// 	// position: absolute
			// 	// cursor: pointer
			// 	// display: block
			// 	width: 50px 
			// 	height: 50px
			// 	position: absolute
			// 	right: 10px
			// 	top: 0
			// 	display: flex
			// 	align-items: center
			// 	justify-content: center
			// 	word-wrap: wrap
			// 	.sw-1,.sw-2,.sw-3
			// 		height: 2px
			// 		width: 100%
			// 		background-color: $white
			// 		transition: .6s
			// 		position: absolute
			// 	.sw-2
			// 		// width: 80%
			// 	.sw-3
			// 		// width: 70%
.content>img
	width: 100%
	position: fixed
.side-menu
	height: 20vh
	width: 20%
	left: 77%
	top: 70px
	background-color: #fff
	padding: 0
	margin: 0
	opacity: 0
	.side-list
		display: flex
		flex-wrap: wrap
		height: 20vh
		text-decoration: none
		list-style-type: none
		margin: 0
		padding: 0
		align-items: center
		&>li
			width: 100%
			display: flex
			justify-content: flex-end
			padding-right: 30px
			font-family: 'Kaushan Script', cursive
			a
				text-decoration: none
				color: $dd_grey
				&:hover
					color: $ddd_grey
.photos
	position: absolute
.tz-gallery>.row
	margin-top: 59%
.sw_cher
	height: 100%
	width: 100%
	display: flex
	justify-content: flex-end
	.menu-icon
		height: 70%
		width: 14vh
		display: flex
		flex-wrap: wrap
		align-items: center
		.sw-all
			height: 4px
			width: 100%
			display: flex
			flex-wrap: wrap
			align-items: center
			.lines
				background-color: $d_grey
				height: 4px
				width: 20vh
				transition: .6s
		.ms_lines_closed
			height: 4px
			width: 100%
			display: flex
			flex-wrap: wrap
			align-items: centers
			.lines
				background-color: $d_grey
				height: 4px
				width: 20vh
				transition: .6s
			.line-1
				transform: rotate(45deg)
				margin-top: 16%
				// transition: .6s
			.line-2
				opacity: 0
			.line-3
				transform: rotate(-45deg)
				margin-top: -50%
				// transition: .6s

















